<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">Saham10047808</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:dbpej</property>
        <property name="hibernate.connection.username">adminpej</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="com.pej.domains.Formateur" />
        <mapping class="com.pej.domains.Beneficiairecooperative" />
        <mapping class="com.pej.domains.Formationbeneficaire" />
        <mapping class="com.pej.domains.Statutcandidat" />
        <mapping class="com.pej.domains.Quartier" />
        <mapping class="com.pej.domains.Beneficiaire" />
        <mapping class="com.pej.domains.Formation" />
        <mapping class="com.pej.domains.Antenne" />
        <mapping class="com.pej.domains.Candidat" />
        <mapping class="com.pej.domains.UsersRole" />
        <mapping class="com.pej.domains.Rolespermission" />
        <mapping class="com.pej.domains.Commune" />
        <mapping class="com.pej.domains.Typeformation" />
        <mapping class="com.pej.domains.Agent" />
        <mapping class="com.pej.domains.Cooperative" />
        <mapping class="com.pej.domains.Departement" />
        <mapping class="com.pej.domains.Don" />
        <mapping class="com.pej.domains.Arrondissement" />
        <mapping class="com.pej.domains.Utilisateur" />
        <mapping class="com.pej.domains.Permission" />
        <mapping class="com.pej.domains.Beneficiairedon" />
        <mapping class="com.pej.domains.Roles" />
    </session-factory>
</hibernate-configuration>
