 <th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:fragment="end">
 <!-- jQuery -->
    <!-- script th:src="@{/webjars/jquery/2.2.3/dist/jquery.min.js}"></script-->
    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/vendors/nprogress/nprogress.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>

    <!-- Custom Theme Scripts -->
    <script th:src="@{/build/js/custom.min.js}"></script>
 </th:block>