 <th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:fragment="end">
 <!-- jQuery -->
    <!-- script th:src="@{/webjars/jquery/2.2.3/dist/jquery.min.js}"></script-->
    <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
    <!-- Bootstrap -->
    <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- FastClick -->
    <script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
    <!-- NProgress -->
    <script th:src="@{/vendors/nprogress/nprogress.js}"></script>
    <!-- validator -->
    <script th:src="@{/vendors/validator/validator.js}"></script>
    <!-- iCheck -->
    <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
	<!-- jQuery Smart Wizard -->
    <script th:src="@{/vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js}"></script>	
    <!-- Datatables -->
    <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.flash.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
    <script th:src="@{/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js}"></script>
    <script th:src="@{/vendors/datatables.net-scroller/js/datatables.scroller.min.js}"></script>
    <script th:src="@{/vendors/jszip/dist/jszip.min.js}"></script>
    <script th:src="@{/vendors/pdfmake/build/pdfmake.min.js}"></script>
    <script th:src="@{/vendors/pdfmake/build/vfs_fonts.js}"></script>
    
    <!-- iCheck -->
    <script th:src="@{/vendors/iCheck/icheck.min.js}"></script>
    <!-- PNotify -->
    <script th:src="@{/vendors/pnotify/dist/pnotify.js}"></script>
    <script th:src="@{/vendors/pnotify/dist/pnotify.buttons.js}"></script>
    <script th:src="@{/vendors/pnotify/dist/pnotify.nonblock.js}"></script>
    <!-- bootstrap-daterangepicker -->
    <script th:src="@{/js/moment/moment.min.js}"></script>
    <!-- jquery.inputmask -->
    <script th:src="@{/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js}"></script>
    
    <!-- Custom Theme Scripts -->
    <script th:src="@{/build/js/custom.min.js}"></script>
     <!-- Script de customisation des datatables -->
    <script th:src="@{/js/datatable.js}"></script>
    <script th:src="@{/script/candidat.js}"></script>
    <script th:src="@{/script/decoupement.js}"></script>
    <script th:src="@{/script/frmPej.js}"></script>
 </th:block>