<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
   
  </head>
  <body class="nav-md">
        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Programme Emploi Jeune - ©2016 Tous droits réservés. <a href="#">bjComputing</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
  </body>
</html>