<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
   
  </head>
  <body>
    <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>PEJ</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img th:src="@{/images/img.jpg}" alt="..." class="img-circle profile_img"></img>
              </div>
              <div class="profile_info">
                <span>Bienvenue,</span>
                <h2>DEV</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                 <li><a href="javascript:void(0)"><i class="fa fa-laptop"></i> Tableau de bords<span class="label label-success pull-right">Graphes</span></a></li>
                  <li><a><i class="fa fa-home"></i> Accueil <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a  href="#" th:href="@{/pej/dashboard}">Tableau de bord</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Gestion des candidatures <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#" th:href="@{/pej/candidats}">Candidats</a></li>
                      <li><a href="#" th:href="@{/pej/candidats/upload}">Chargement de fichier</a></li>
                      <li><a href="#" th:href="@{/pej/cooperatives}">Coopératives</a></li>
                       <li><a href="#" th:href="@{/pej/agents}">Agents recruteurs</a></li>
                      <li><a href="#" th:href="@{/pej/decoupement}">Découpement territoriale</a></li>
                      <li><a href="#" th:href="@{/pej/antennes}">Antennes</a></li>
                      <li><a href="#" th:href="@{/pej/statutcandidats}">Statuts</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-desktop"></i> Gestion des formations <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#" th:href="@{/pej/formateurs}">Formateurs</a></li>
                      <li><a href="#" th:href="@{/pej/formations}">Formations</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-table"></i> Gestion des dons <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#" >Suivi des dons</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-bar-chart-o"></i>Configuration <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="#" th:href="@{/pej/usermamagement}">Utilisateurs</a></li>
                    </ul>
                  </li>
        
                </ul>
              </div>


            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <!-- div class="sidebar-footer hidden-small">
              <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
              </a>
              <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>
            </div-->
            <!-- /menu footer buttons -->
          </div>
        </div>
  </body>
</html>