<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Programme Emploi Jeune</title>
</head>
<body>

<div layout:fragment="content">
    <!-- page content -->
    <!-- page content -->
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        function handleSelect(elmt) {
            var origin = window.location.origin
            window.location.href = origin + "/pej/candidats?page=" + elmt.value;
        }
        /*]]>*/
    </script>
    <div class="right_col" role="main">
        <div class="">


            <div class="clearfix"></div>
            <div th:with="notifyMessages=${session[T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
                <div th:each="msg : ${notifyMessages}" class="alert alert-success alert-dismissible fade in"
                     th:classappend="'alert-'+${#strings.toLowerCase(msg.type)}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span>
                    </button>
                    <strong th:text="${msg.text}"></strong>
                </div>
                <span th:if="${notifyMessages}" th:remove="all"
                      th:text="${session.remove(T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel" style="height: auto;">
                        <div class="x_title">
                            <h2>FILTRER</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content" style="display: none;">
                            <form id="frmRecherche" class="form-horizontal form-label-left" action="#"
                                  th:action="@{/pej/candidats/search}"  method="post">
                                <div class="item form-group item-filter">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="departementOptions">DEPARTEMENT
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="departementOptions" class="form-control operation" data-attribute="localdepartement">
                                            <option value=""></option>
                                            <option value="equal">Egal a</option>
                                            <option value="NoEqual">Non egal a</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="departementValue"
                                                 class="form-control item-value">
                                            <option value=""></option>
                                            <option data-th-each="departement : ${departements}"
                                                    th:text="${departement.libdeparteement}"
                                                    th:value="${departement.libdeparteement}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="item form-group item-filter">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="communeOptions">COMMUNE
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="communeOptions"  class="form-control operation" data-attribute="localcommune">
                                            <option value=""></option>
                                            <option value="equal">Egal a</option>
                                            <option value="NoEqual">Non egal a</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="commune"
                                                class="form-control item-value">
                                            <option value=""></option>
                                            <option data-th-each="commune : ${communes}" th:text="${commune.libcommune}"
                                                    th:value="${commune.libcommune}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="item form-group item-filter">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="statutOptions">STATUT
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="statutOptions"  class="form-control operation" data-attribute="statutcandidat.intitule">
                                            <option value=""></option>
                                            <option value="equal">Egal a</option>
                                            <option value="NoEqual">Non egal a</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="statutValue"
                                                class="form-control item-value">
                                            <option value=""></option>
                                            <option data-th-each="statut : ${statuts}" th:text="${statut.intitule}"
                                                    th:value="${statut.intitule}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="item form-group item-filter">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nomOptions">NOM <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="nomOptions"  class="form-control operation" data-attribute="nom">
                                            <option value=""></option>
                                            <option value="equal">Egal a</option>
                                            <option value="NoEqual">Non egal a</option>
                                            <!--<option value="content">Contient</option>-->
                                            <!--<option value="Nocntent">Ne contient pas</option>-->
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <input type="text" id="nom"
                                               class="form-control col-md-7 col-xs-12 item-value"/>
                                    </div>
                                </div>

                                <div class="item form-group item-filter">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="prenomOptions">PRENOM <span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="prenomOptions"  class="form-control operation" data-attribute="prenom">
                                            <option value=""></option>
                                            <option value="equal">Egal a</option>
                                            <option value="NoEqual">Non egal a</option>
                                            <!--<option value="content">Contient</option>-->
                                            <!--<option value="Nocntent">Ne contient pas</option>-->
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <input type="text" id="prenom"
                                               class="form-control col-md-7 col-xs-12 item-value"/>
                                    </div>
                                </div>


                                <div class="item form-group item-filter">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ageOptions">AGE <span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <select id="ageOptions"  class="form-control operation" data-attribute="age">
                                            <option value=""></option>
                                            <option value="equal">Egal a</option>
                                            <option value="Noequal">Non egal a</option>
                                            <option value="sup">Superieur a</option>
                                            <option value="inf">Superieur ou egal a</option>
                                            <option value="supEqual">Inferieur a</option>
                                            <option value="infEqual">Inferieur ou egal a</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-6">
                                        <input type="text" id="age"
                                               class="form-control col-md-7 col-xs-12 item-value"/>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6" style="display:none;">
                                    <input type="text" id="criteria" name = "criteria"
                                           class="form-control col-md-7 col-xs-12"/>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6" style="display:none;">
                                    <input type="text" id="criteria-send-value"  th:value="${criteria}"
                                           class="form-control col-md-7 col-xs-12"/>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6" style="display:none;">
                                    <input type="text" id="page-request-next" th:value="${nextPage}"
                                           class="form-control col-md-7 col-xs-12"/>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6" style="display:none;">
                                    <input type="text" id="page-request-previous" th:value="${previousPage}"
                                           class="form-control col-md-7 col-xs-12"/>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6" style="display:none;">
                                    <input type="text" id="page-request-current-page" th:value="${currentPage}"
                                           class="form-control col-md-7 col-xs-12"/>
                                </div>

                                <div class="col-md-3 col-sm-3 col-xs-6" style="display:none;">
                                    <input type="text" id="page-request" name="page"
                                           class="form-control col-md-7 col-xs-12"/>
                                </div>


                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="reset" class="btn btn-primary">ANNULER</button>
                                        <button type="button" id="submit-candidat-filter" class="btn btn-success">RECHERCHER</button>
                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>LISTE DES CANDIDATS</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row">
                                <a style="margin-left: 8px;" href="#" th:href="@{/pej/candidats/add}"
                                   class="btn btn-info"><i class="fa fa-plus"></i> AJOUTER</a>
                                <a style="margin-left: 8px;" href="#" onclick="upgradeCandidats()"
                                   class="btn btn-success"><i class="fa fa-check-square-o"></i> VALIDER</a>
                                <a style="margin-left: 8px;" href="#" th:href="@{'/pej/candidats/eligible'}"
                                   class="btn btn-info">SELECTIONNER LES ELIGIBLES</a>
                                <a style="margin-left: 8px;" th:href="@{/pej/candidats/upload}" class="btn btn-success"><i
                                        class="fa fa-check-square-o"></i>CHARGER UN FICHIER</a>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered display nowrap" cellspacing="0"
                                       width="100%">

                                    <thead>
                                    <tr id="filterrow" class="headings">
                                        <th>
                                        </th>
                                        <th class="column-title">CANDIDAT</th>
                                        <th class="column-title">COMMUNE</th>
                                        <th class="column-title">SEXE</th>
                                        <th class="column-title">AGE</th>
                                        <th class="column-title">STATUT</th>
                                        <th class="column-title no-link last"><span class="nobr">ACTION</span>
                                        </th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-th-each="candidat : ${candidats}" class="even pointer">
                                        <td class="a-center ">
                                            <input type="checkbox" class="flat" name="table_records"/>
                                        </td>
                                        <!-- td class=" " data-th-text="${candidat.idcandidat}" style="display:none;"></td-->
                                        <td class=" ">
                                            <div class="hover_img">
                                                <a href="#" data-th-text="${candidat.getIdentite()}"><span><img
                                                        src="images/01.png" alt="image" height="100"/></span></a>
                                            </div>
                                        </td>
                                        <!--<td class=" " ><img th:src="@{/images/nopicture.PNG}" alt="" class="img-circle profile_img" style="width:100px;height:100px;"/></td>-->
                                        <td class=" " data-th-text="${candidat.localcommune}"></td>
                                        <td class=" " data-th-text="${candidat.sexe}"></td>
                                        <td class=" " data-th-text="${candidat.age}"></td>
                                        <!--<td class=" " data-th-text="${candidat.agent.nom + ' '+candidat.agent.prenom}"></td>-->

                                        <td>
                                            <a class="btn btn-success btn-xs"
                                               data-th-text="${candidat.statutcandidat.intitule}"></a>
                                        </td>

                                        <td>
                                            <div class="btn-group btn-group-xs">
                                                <a class="btn btn-primary"
                                                   th:href="@{'/pej/candidats/' + ${candidat.idcandidat}}"><i
                                                        class="fa fa-edit" data-toggle="tooltip" title="Edit"></i>
                                                    MODIFIER</a>
                                            </div>
                                            <div class="btn-group btn-group-xs">
                                                <a class="btn btn-xs btn-warning"
                                                   th:href="@{'/pej/report/formations?idcandidat=' + ${candidat.idcandidat}}"><i
                                                        class="fa fa-trash" data-toggle="tooltip" title="Edit"></i>
                                                    FORMATIONS</a>
                                            </div>
                                            <div class="btn-group btn-group-xs">
                                                <a class="btn btn-xs btn-danger"
                                                   th:href="@{'/pej/delete/candidat/' + ${candidat.idcandidat}}"><i
                                                        class="fa fa-trash" data-toggle="tooltip" title="Edit"></i>
                                                    SUPPRIMER</a>
                                            </div>
                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row" style="padding-top:5px;">
                                <div class="pull-left">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <select id="page-select"  class="form-control"
                                                >
                                            <option data-th-each="listOfPage : ${listOfPages}" th:text="${listOfPage}"
                                                    th:value="${listOfPage}"></option>
                                        </select>
                                    </div>

                                </div>
                                <div class="pull-right">
                                    <button style="margin-left: 8px;"
                                       id="candidat-previous-page"
                                       th:if="${hasPrevious == 'true'}"
                                       class="btn btn-info"><i class="fa fa-plus"></i> PRECEDENT</button>
                                    <button style="margin-left: 8px;"
                                       id="candidat-next-page"
                                       th:if="${hasNext == 'true'}"
                                       class="btn btn-success">
                                        <i class="fa fa-check-square-o"></i> SUIVANT</button>

                                    <!--<a style="margin-left: 8px;"-->
                                       <!--id="candidat-previous-page"-->
                                       <!--th:if="${hasPrevious == 'true'}"-->
                                       <!--th:href="@{'/pej/candidats' + '?page=' + ${previousPage}}"-->
                                       <!--class="btn btn-info"><i class="fa fa-plus"></i> PRECEDENT</a>-->
                                    <!--<a style="margin-left: 8px;"-->
                                       <!--id="candidat-next-page"-->
                                       <!--th:if="${hasNext == 'true'}"-->
                                       <!--th:href="@{'/pej/candidats' + '?page=' + ${nextPage}}"-->
                                       <!--class="btn btn-success">-->
                                        <!--<i class="fa fa-check-square-o"></i> SUIVANT</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DEBUT MODAL DON -->
        <!--<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">-->
        <!--<div class="modal-dialog modal-lg">-->
        <!--<div class="modal-content">-->

        <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title" id="myModalLabel">ACCORDER UN DON</h4>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
        <!--<h4>ACCORDER UN DON</h4>-->
        <!--<form id="frmAgent"  class="form-horizontal form-label-left"  method="post">-->
        <!--<div class="item form-group">-->
        <!--<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">DEPARTEMENT <span class="required">*</span>-->
        <!--</label>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<select id="departement" name="departement" class="select2_single form-control" >-->
        <!--<option data-th-each="departement : ${departements}" th:text="${departement.libdeparteement}" th:value="${departement.codedepartement}"></option>-->
        <!--</select>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="item form-group">-->
        <!--<label for="numerofiche" class="control-label col-md-3 col-sm-3 col-xs-12">INTITULE</label>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<input type="text" id="libantenne"  th:required="required" class="form-control col-md-7 col-xs-12"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="item form-group">-->
        <!--<label for="nom" class="control-label col-md-3 col-sm-3 col-xs-12">NOM</label>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<input type="text" id="responsable" th:required="required" class="form-control col-md-7 col-xs-12"/>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="item form-group">-->
        <!--<label for="nom" class="control-label col-md-3 col-sm-3 col-xs-12">TELEPHONE</label>-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<input type="text" id="numpresponsable"  th:required="required" class="form-control col-md-7 col-xs-12"/>-->
        <!--</div>-->
        <!--</div>-->


        <!--<div class="ln_solid"></div>-->
        <!--<div class="form-group">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>-->
        <!--<button type="button" class="btn btn-primary">ENREGISTRER</button>-->
        <!--</div>-->
        <!--</div>-->

        <!--</form>-->
        <!--</div>-->

        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!-- FIN MODAL DON -->
    </div>
    <!-- /page content -->
    <!-- /page content -->
</div>

<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>


</body>
</html>
