<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
  <title>Programme Emploi Jeune</title>
</head>
<body>
 
  <div layout:fragment="content">
        <!-- page content -->
			 <!-- page content -->
		<script type="text/javascript" th:inline="javascript">
		    /*<![CDATA[*/
		   
		    function showImg(src){
		    	  var path= /*[[@{/pej/candidats/valider/}]]*/;
		    	 console.log('src: ',src);
		    	 $("#picture").attr('th:src', "@{/images/"+src+"}");
		    	 //$("#picture").attr('src', 'pictures/0c1a5691-3d16-455a-81ba-ce80019e0d74.jpg');
		    	 /*/images/img.jpg
		    	 th:src="@{/images/test.png}"*/
		    	 $('#imgBox').modal('show');
	      	}
		    
	    	function upgradeCandidat(url, element){
		    	  var path= /*[[@{/pej/candidats/valider/}]]*/;
		    	  console.log('Path:', path);
		    	  console.log('url: ', url);
		    	  console.log('Element: ', element);
		    	  var element1=$(element).find('td > a')[0];
		    	  console.log('Element1:', $(element1));
		    	 return;
		    	  
		    	  var validerCandidat=function(jqXHR){
		    		  try {
		    			  console.log('jqXHR.responseText:',jqXHR.responseText);
			    		  var currentCandidat = jQuery.parseJSON( jqXHR.responseText );
		  				  console.log('Ajax response error:',currentCandidat);
		  				  console.log('element1: ',element1);
		  				 $(element1).text(currentCandidat.statutcandidat.intitule);
		  				 (function(){
		  					new PNotify({
		                        title: 'Programme Emploi Jeune',
		                        text: 'Statut modifié avec succès',
		                        type: 'success',
		                        styling: 'bootstrap3'
		                    });
		  				 })();
		    			  
		    		  }
		    		  catch(err) {
							 
						  new PNotify({
                              title: 'Programme Emploi Jeune',
                              text: 'Erreur lors du changement de statut.',
                              type: 'error',
                              styling: 'bootstrap3'
                          });
					  }
		    		  

		    	  }
		    	  doGet(path+url, validerCandidat);
	      	}
	    	 function doGet(url, setCommune) {
	    		 var data;
	    		 $.ajax({
	    			 url : 'http://localhost:8080'  + url,
	    			 type : 'GET' ,
	    			 dataType : 'application/json' ,
	    			 beforeSend : function() {
	    			 },
	    			 success : function(data) {
	    				console.log('Show success response: ', data);
	    			 },
	    			 complete : function() {
	    				console.log('Ajax response complete');
	    			 },
	    			 error : function(jqXHR) {
	    				 setCommune(jqXHR);
	    			 }
	    		 })
	    		 
	    		 return data;
	    	}
	    	 /*Récupérer l'id des candidats à valider*/
	    	function getIds(){
	    		var oTable = $('#datatable-buttons').DataTable();

	    		var idcandidats="";
	    		var ids = $.map(oTable.rows('.selected').data(), function (item) {
	    			console.log('item: ',item);
	    			console.log('item[1]: ',item[1]);
	    			idcandidats+=item[1]+"@";
	    	        //return item[0]
	    	    });
	    	    console.log('idcandidats: ', idcandidats);
	    	    return idcandidats;
	    	    //alert(oTable.rows('.selected').data().length + ' row(s) selected');
	    	    
	    	    
	    	    
	    	}
	    	
	    	
	    	upgradeCandidats
	    	function upgradeCandidats(){
		    	  var path= /*[[@{/pej/candidats/validermax/}]]*/;
		    	  var url=getIds();
		    	  console.log('Path:', path);
		    	  console.log('url: ', url);
		    	
		    	 
		    	  
		    	  var validerCandidats=function(jqXHR){
		    		  try {
		    			  console.log('jqXHR.responseText:',jqXHR.responseText);
			    		  var currentCandidat = jQuery.parseJSON( jqXHR.responseText );
		  				  console.log('Ajax response error:',currentCandidat);
		  				  console.log('element1: ',element1);
		  				 $(element1).text(currentCandidat.statutcandidat.intitule);
		  				 (function(){
		  					new PNotify({
		                        title: 'Programme Emploi Jeune',
		                        text: 'Statut modifié avec succès',
		                        type: 'success',
		                        styling: 'bootstrap3'
		                    });
		  				 })();
		    			  
		    		  }
		    		  catch(err) {
							 
						  new PNotify({
                            title: 'Programme Emploi Jeune',
                            text: 'Erreur lors du changement de statut.',
                            type: 'error',
                            styling: 'bootstrap3'
                        });
					  }
		    		  

		    	  }
		    	  var xhr = new XMLHttpRequest();
		    	  xhr.open('GET', path+url, false);
		    	  xhr.send();
		    	  doGet(path+url, validerCandidats);
	      	}
	    	
	    	
		    /*]]>*/
  </script>	 
        <div class="right_col" role="main">
          <div class="">


            <div class="clearfix"></div>
			<div th:with="notifyMessages=${session[T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">	
				  <div th:each="msg : ${notifyMessages}"  class="alert alert-success alert-dismissible fade in" th:classappend="'alert-'+${#strings.toLowerCase(msg.type)}" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
					</button>
					<strong th:text="${msg.text}"></strong>
				  </div>
				  <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
			</div>
			<div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"  style="height: auto;">
                  <div class="x_title">
                    <h2>FILTRER</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-down"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content" style="display: none;">
                    <form id="frmRecherche"  class="form-horizontal form-label-left" action="#"  th:action="@{/pej/candidats/searchContrat}" th:object="${objCritere}" method="post">
					   	<div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Commune <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="critere1" name="commune" th:field="*{searchcommune}" class="form-control">
	                            	<option value=""></option>
	                            	<option data-th-each="commune : ${communes}" th:text="${commune.libcommune}" th:value="${commune.codecommune}"></option>       
	                           </select>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Statut <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="critere1" name="critere1" th:field="*{searchstatut}" class="form-control">
	                            	<option value=""></option>
	                            	<option data-th-each="statut : ${statuts}" th:text="${statut.intitule}" th:value="${statut.id}"></option>
	                           </select>
                            </div>
                        </div>
				       <div class="item form-group">
                            <label for="numerofiche" class="control-label col-md-3 col-sm-3 col-xs-12">Nom</label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="valeur1"  th:field="*{searchnom}" class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>			    	
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Date naissance <span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                               <select id="ordre" name="ordre" th:field="*{searchordre}" class="form-control">
	                            	<option value=""></option>
	                            	<option value="avant">Avant</option>
	                            	<option value="apres">Apres</option>     
	                           </select>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                               
	                            	<input type="text" id="valeur1"  th:field="*{searchdate}" data-inputmask="'mask': '99/99/9999'"  class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
				       <div class="item form-group">
                            <label for="numerofiche" class="control-label col-md-3 col-sm-3 col-xs-12">Agent</label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="valeur3"  th:field="*{searchagent}" class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
					    <div class="ln_solid"></div>
					    <div class="form-group">
					      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
					        <button type="reset" class="btn btn-primary">Annuler</button>
					        <button type="submit" class="btn btn-success">Rechercher</button>
					      </div>
					    </div>
					
					  </form>

                   
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Liste des candidats</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                     <div class="row" >
							 <a style="margin-left: 8px;" href="#" th:href="@{/pej/candidats/add}" class="btn btn-info"><i class="fa fa-plus"></i> Ajouter</a>
							 <a style="margin-left: 8px;" href="#" onclick="upgradeCandidats()"  class="btn btn-success"><i class="fa fa-check-square-o"></i> Valider</a>
							 <a style="margin-left: 8px;" href="#" th:href="@{'/pej/candidats/eligible'}" class="btn btn-info">Sélectionner Eligibles</a>
							 <a style="margin-left: 8px;" th:href="@{/pej/candidats/upload}"  class="btn btn-success"><i class="fa fa-check-square-o"></i>Charger fichier</a>
					</div>
                    <div class="table-responsive">
                      <table id="datatable-buttons1" class="table table-striped table-bordered display nowrap"  cellspacing="0" width="100%">
                       
                        <thead>
                          <tr class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat call-checkbox"/>
                            </th>
                            <!-- th class="column-title" style="display:none;">Candidat ID</th-->
                            <th class="column-title">Candidat </th>
                            <th class="column-title">Photo </th>
                            <th class="column-title">Commune </th>
                            <th class="column-title">Sexe</th>
                            <th class="column-title">Date naissance </th>
                           
                            <th class="column-title">Agent </th>
                            <th class="column-title">Statut </th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            
                          </tr>
                          <tr id="filterrow" class="headings">
                            <th>
                              <input type="checkbox" id="check-all" class="flat call-checkbox"/>
                            </th>
                            <!-- th class="column-title" style="display:none;">Candidat ID</th-->
                            <th class="column-title">Candidat </th>
                            <th class="column-title">Photo</th>
                            <th class="column-title">Commune </th>
                            <th class="column-title">Sexe </th>
                            <th class="column-title">Date naissance</th>
                            <th class="column-title">Agent enregistreur </th>                  
                            <th class="column-title">Statut </th>
                            <th class="column-title no-link last"><span class="nobr">Action</span>
                            </th>
                            
                          </tr>
                        </thead>
						<tfoot>
                          
                        </tfoot>
						
                        <tbody>
                         <tr data-th-each="candidat : ${candidats}" class="even pointer">
	                            <td class="a-center ">
	                              <input type="checkbox" class="flat" name="table_records"/>
	                            </td>
	                            <!-- td class=" " data-th-text="${candidat.idcandidat}" style="display:none;"></td-->
								<td class=" ">
									<div class="hover_img">
										<a href="#"  data-th-text="${candidat.nom +' '+candidat.prenom}"><span><img src="images/01.png" alt="image" height="100" /></span></a>
									</div>
								</td>
								<td class=" " ><img th:src="@{/images/nopicture.PNG}" alt="" class="img-circle profile_img" style="width:100px;height:100px;"/></td> 
								<td class=" " data-th-text="${candidat.localcommune}"></td>
								<td class=" " data-th-text="${candidat.sexe}"></td>
								<td class=" " data-th-text="${#dates.format(candidat.datenaissance,'dd/MM/yyyy')}" ></td>
								<td class=" " data-th-text="${candidat.agent.nom + ' '+candidat.agent.prenom}"></td>
								
		                        <td>
		                        
		                            <a class="btn btn-success btn-xs"  data-th-text="${candidat.statutcandidat.intitule}"></a>
		                        </td>
	                            <td class=" ">
	                            <!-- a type="button" class="btn btn-primary btn-xs" th:href="@{'/pej/candidats/profil/' + ${candidat.idcandidat}}">Voir Photo</a-->
	                            
	                                <!-- Split button -->
				                    <div class="btn-group">
				                      <button type="button" class="btn btn-primary btn-xs">Actions</button>
				                      <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				                        <span class="caret"></span>
				                        <span class="sr-only">Toggle Dropdown</span>
				                      </button>
				                      <ul class="dropdown-menu" role="menu">
				                        <li><a  th:href="@{'/pej/candidats/' + ${candidat.idcandidat}}"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i> Modifier</a></li>
				                         <li th:style="${candidat.statutcandidat.intitule}=='BENEFICIAIRE DE FINANCEMENT'? 'display:block' : 'display:none'"><a  th:href="@{'/pej/candidats/materiels/' + ${candidat.idcandidat}}"><i class="fa fa-edit" data-toggle="tooltip" title="Voir les matériaux"></i>Information financière</a></li>
				                        <li><a  th:href="@{'/pej/candidats/picture/' + ${candidat.idcandidat}}"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i>Ajouter photo</a></li>
				                        <li><a  th:href="@{'/pej/candidats/dossier/' + ${candidat.idcandidat}}"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i> Dossier</a></li>
				                      
				                        <li><a href="#" th:onclick="${'javascript:upgradeCandidat('+ candidat.idcandidat +', $(this).parent().parent().parent().parent().parent()[0])'}" ><i class="fa fa-check-square-o"></i> Valider </a>
				                        </li>
				                         <li><a href="#" th:href="@{'/pej/candidats/don/' + ${candidat.idcandidat}}"> <i class="fa fa-file-pdf-o"></i>Accorder don</a>
				                        </li>
				                          <li><a href="#" th:href="@{'/pej/candidats/materiels/' + ${candidat.idcandidat}}"> <i class="fa fa-file-pdf-o"></i>Financement</a>
				                        </li>
				                      </ul>
				                    </div>
	                            </td>
                          		
                          		
							</tr>
                        </tbody>
                      </table>
         				<div id="imgBox" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
		                    <div class="modal-dialog modal-sm">
		                      <div class="modal-content">
		
		                        <div class="modal-header">
		                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
		                          </button>
		                          <h4 class="modal-title" id="myModalLabel2">Photo du candidat</h4>
		                        </div>
		                        <div class="modal-body">
		                          <img id="picture" src="nopicture.png" alt=""/>
		                        </div>
		                        <div class="modal-footer">
		                          <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
		                        </div>
		                      </div>
		                    </div>
                  		</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- DEBUT MODAL DON -->
             <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
	<div class="modal-content">

	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Accord de don</h4>
	  </div>
	  <div class="modal-body">
		<h4>Text in a modal</h4>
		<form id="frmAgent"  class="form-horizontal form-label-left"  method="post">
				    	<div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Département <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <select id="departement" name="departement" class="select2_single form-control" >
	                            	<option data-th-each="departement : ${departements}" th:text="${departement.libdeparteement}" th:value="${departement.codedepartement}"></option>      
	                           </select>
                            </div>
                        </div>
				       <div class="item form-group">
                            <label for="numerofiche" class="control-label col-md-3 col-sm-3 col-xs-12">Intitué</label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="libantenne"  th:required="required" class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
					    <div class="item form-group">
                            <label for="nom" class="control-label col-md-3 col-sm-3 col-xs-12">Nom</label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="responsable" th:required="required" class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="nom" class="control-label col-md-3 col-sm-3 col-xs-12">Téléphone</label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                              <input type="text" id="numpresponsable"  th:required="required" class="form-control col-md-7 col-xs-12"/>
                            </div>
                        </div>
                        
                        
					    <div class="ln_solid"></div>
					    <div class="form-group">
					      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary">Save changes</button>
						      </div>
					    </div>
					
					  </form>
	  </div>

	</div>
  </div>
</div>
            <!-- FIN MODAL DON -->
        </div>
        <!-- /page content -->
        <!-- /page content -->    
  </div>

  <footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
  </footer>
  

</body>
</html>