<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layout">
<head>
  <title>PEJ/D&eacute;coupage territoriale</title>
</head>
<body>
 
  <div layout:fragment="content">
                 <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>LISTE DES UTILISATEURS</h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..."/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">RECHERCHER!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
			<div th:with="notifyMessages=${session[T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">	
				  <div th:each="msg : ${notifyMessages}"  class="alert alert-success alert-dismissible fade in" th:classappend="'alert-'+${#strings.toLowerCase(msg.type)}" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
					</button>
					<strong th:text="${msg.text}"></strong>
				  </div>
				  <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(com.pej.services.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
			</div>

             <!-- DEBUT USERS -->
            
            <div class="clearfix"></div>

            <div class="row">
   
             <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>LISTE DES UTILISATEURS<small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Importer donn&eacute;es</a>
                          </li>
                          <li><a href="#">Exporter donn&eacute;es</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                   <div class="table-responsive">
						<div class="row">
							 <a href="#" th:href="@{/pej/users}" class="btn btn-info"><i class="fa fa-plus"></i> CREER UN NOUVEL UTILISATEUR</a>
			
						</div>
						<table id="datatable-permission" class="table table-striped table-bordered bulk_action">
							<thead>
								<tr>
								  <th>NOM</th>
								  <th>PRENOM</th>
								  <th>USERNAME</th>
								   <th>ACTION</th>
								</tr>
							</thead>
							<tbody>
							<tr data-th-each="user : ${users}">
								<td data-th-text="${user.firstname}"></td>
								<td data-th-text="${user.lastname}"></td>
								<td data-th-text="${user.username}"></td>
								<td>
									<div class="btn-group btn-group-xs">
										<a class="btn btn-default" th:href="@{'/pej/users/' + ${user.idusers}}"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i> MODIFIER</a>
										<a class="btn btn-xs btn-danger"><i class="fa fa-trash" data-toggle="tooltip" title="Edit"></i> SUPPRIMER</a>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
                  </div>
                </div>
              </div>	
            
            </div>
            <!-- FIN USERS -->
          </div>
        </div>
        <!-- /page content -->    
  </div>

  <footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
  </footer>
  

</body>
</html>